<!DOCTYPE html>
<head>
  <title>
    Designable Playground
  </title>
  <style>
    html,body{
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="root">
  </div>
  <script src="https://unpkg.com/moment@2.29.4/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/antd@4.24.2/dist/antd-with-locales.min.js"></script>
</body>